body {
    background-image: url("http://s1.picswalls.com/wallpapers/2014/12/09/butterfly-wallpaper_093549561_256.jpeg");
    text-align: center;
}

.top_section {
  background-color: rgba(255,150,150,150);
  border-radius: 25px;
  width: 700px;
  text-align: center;
  border: 2px solid #73AD21;
  margin: auto;
}

.top_section p {
  font-family: "Arial";
}

h1 {
  color: black;
  font: garamond;
}

h2 {
  color: black;
  font-size: 20px;
  margin: -5px 0 0 0;
}

#dogimage {
  width: 200px;
  margin: 10px;
  top: -50px;
  margin: 0px 0 0 0;
}

.middle_section {
  background-color: rgb(26, 238, 255);
  border-radius: 25px;
  text-align: left;
  border: 2px solid #73AD21;
  width: 600px;
  margin: 5px auto;
  padding: 0 50px 0 50px;
}

h3{
  color: blue;
  padding-right: 10px;
  text-decoration: underline;
}

.bottom_section {
  background-color: rgb(245, 167, 15);
  border-radius: 25px;
  text-align: left;
  border: 2px solid #73AD21;
  width: 600px;
  margin: 5px auto;
  padding: 0 50px 0 50px;
}

.bottom_section span {
  font-size: 120%;
  font-weight: bold;
  border-bottom: 10px double black;
  font-style: italic;
}

h4 {
  text-decoration: underline;
  color: white;
}
